{% extends "mainApp/wrapper.html" %}

{% block content %}

{% load static %}
{% load rest_framework %}
<style>
    .box {
      display: flex;
      flex-direction: column;
    }
    .review{
        border: 2px solid black;
        /* background: #f2f5f5; */
        padding: 10px;
        border-radius: 20px;
        margin: 10px;
    }

</style>


<div class="container">
<div class="container">
    <img src="{{book.img.url}}" height="350" width="350" align="right" class="img-thumbnail">
    <div class="box">
    <h1 class="main_name">{{book.name}}</h1>
    <a href="/content/authors/{{book.author.id}}"><h2>{{book.author}}</h2></a>
    <h4>Год выхода: {{book.year}}</h4>
    <h6>{{book.information}}</h6>
    </div>


</div>
<div class="box">
    <h4>Отзывы</h4>
    {% for r in reviews %}
    <div class="review" >
        <h4>{{r.name}}</h4>
        <h7>{{r.date | date:"d-m-Y"}}</h7>
        <h5>{{r.shortReview}}</h5>
        <h6>{{r.text}}</h6>
    </div>
    {% endfor %}

    <h4>Поделитесь мнением</h4>

    <form method="POST" >
        {% csrf_token %}
        {% render_form serializer template_pack='rest_framework/inline' %}
        <p><input  class="btn btn-success btn-lg" type="submit" value="Оставить отзыв"></p>
    </form>
</div>
</div>

{% endblock %}

